*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
body {
	font-family: "Noto Sans", sans-serif, Helvetica, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
/* A partir de aquí introduce tus estilos */
:root {
	--background-main-color: #fdffff;
	--title-color: #ffffff;
	--text-color: #091e42;
	--hover-blue-color: #0747a6;
	--text-ancors-color: #1264a3;
	--tertiary-color: #0065ff;
	--footer-color-dark: #172b4d;
	--container-width: 95%;
}
body {
	background-color: var(--background-color);
}
body a {
	color: var(--text-ancors-color);
	text-decoration: underline;
}
h1 {
	font-size: 32px;
}
.mobile-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 200;
	box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}
.empty-section {
	height: 62px;
	background-color: #deebff;
}
.container {
	width: var(--container-width);
	margin: 0 auto;
}
.desktop-nav {
	display: none;
}
.header {
	background: url(/media/images/white-wave-mobile.svg) center bottom -0.5px / 100%
			24% no-repeat scroll padding-box border-box,
		linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto
			no-repeat scroll padding-box border-box rgb(82, 67, 170);
	background-blend-mode: normal, normal;
	color: rgb(255, 255, 255);
}
header h1,
p,
button,
a {
	color: var(--title-color);
}
.message-info {
	background-color: #deebff;
	padding: 16px;
}
.message-header {
	color: black;
	text-align: center;
}
.ancor-message-header {
	color: #2c6bd5;
}
.content-header {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-top: 100px;
}
.primary-content-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
header h1,
p {
	text-align: center;
}
header h1 {
	line-height: 1.25;
}
header p {
	line-height: 1.5;
}
.header-ancor-video {
	display: flex;
	align-items: center;
	gap: 12px;
}
header a {
	text-decoration: underline;
}
header form {
	width: 100%;
}
header input {
	display: none;
}
.blue-button-container {
	width: 100%;
	display: flex;
}
.blue-button {
	background-color: var(--tertiary-color);
	flex: 1;
	border: none;
	border-radius: 4px;
	padding: 12px 16px;
}
.blue-button:hover {
	background-color: var(--hover-blue-color);
}
.img-header {
	display: flex;
	align-items: center;
}
.img-header img {
	width: 100%;
	z-index: 100;
}
.background-img-wave img {
	width: 100%;
	height: 280px;
}
.background-img-wave {
	position: relative;
	transform: translateY(-280px);
}
main p,
h2,
h3 {
	color: var(--text-color);
	text-align: left;
}
main h2,
h3 {
	line-height: 1.25;
}
main p {
	line-height: 1.5;
}
.neuro-productivity {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0%
		0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
	background-blend-mode: normal;
	color: rgb(9, 30, 66);
	padding-bottom: 80px;
}
.neuro-productivity-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.neuro-productivity-text {
	display: flex;
	justify-content: left;
	flex-direction: column;
	gap: 20px;
}
.uppercase-title {
	text-transform: uppercase;
}
.neuro-productivity-img-board {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.neuro-productivity-picture img {
	width: 100%;
}
.neuro-productivity-boards {
	display: flex;
	gap: 16px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}
.neuro-productivity-board {
	display: flex;
	min-width: 300px;
	scroll-snap-align: center;
	background-color: var(--background-main-color);
	box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}
.sideboard {
	width: 40px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #00b7d3;
}
.board-text {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 32px 12px;
}
.board-show-on-desktop {
	display: none;
}
.workflow {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 32px;
	padding-bottom: 40px;
}
.workflow-title {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.cards {
	display: flex;
	gap: 16px;
	padding: 12px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.cards::-webkit-scrollbar {
	width: 50px;
}

.cards::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px gray;
	border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb {
	background: var(--text-color);
	border-radius: 10px;
}

.card {
	min-width: 348px;
	border-radius: 4px;
	scroll-snap-align: center;
	box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}
.card-img-text {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 24px;
	transform: translateY(-37px);
}
.card-img-text img {
	border: 4px solid var(--background-main-color);
	background-color: var(--background-main-color);
	border-radius: 4px;
}
.orange-card-div {
	height: 32px;
	background: rgb(255, 116, 82);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.blue-card-div {
	height: 32px;
	background: rgb(38, 132, 255);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.green-card-div {
	height: 32px;
	background: rgb(87, 217, 163);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.yellow-card-div {
	height: 32px;
	background: rgb(255, 196, 1);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.blue-clouds-card-div {
	height: 32px;
	background: rgb(0, 199, 228);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.pink-card-div {
	height: 32px;
	background: rgb(249, 157, 219);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.workflow-p-button {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.white-button {
	border-radius: 4px;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(0, 101, 255);
	padding: 12px 16px;
	color: var(--text-color);
}
.ways-of-work {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 32px;
	background: linear-gradient(240deg, rgb(0, 184, 217), rgb(0, 101, 255)) 0% 0% /
		auto repeat scroll padding-box border-box rgb(0, 101, 255);
	background-blend-mode: normal;
	color: rgb(255, 255, 255);
}
.ways-text-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.ways-text-container h2,
p {
	text-align: center;
	color: var(--background-main-color);
}

.ways-of-work-card {
	display: flex;
	flex-direction: column;
	gap: 24px;
	border-radius: 4px;
	padding: 24px;
	background-color: var(--background-main-color);
}

.ways-to-grow {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 32px;
}

.colour-grow-cards {
	background-color: rgb(250, 251, 252);
}
